<style>
   .section_heading span {
    border-radius: 16px;
    background: #01c5e3;
    padding: 4px 6px;
    display: inline-flex;
    color: #233052;
    font-size: 16px;
    font-style: normal;
    font-weight: 600; 
  }


  @media(min-width:1200px){
  .section_heading span{
    padding: 2px 14px;
    font-size: 24px;
    border-radius: 16px;


      }

  
  }
</style>



<div class="xcl-text-center xcl-pb-6 xl:xcl-pb-8">
  {% if section.settings.section_title != blank %}
    <h3
      class="section_heading xcl-text-center xcl-pb-2 xcl-text-[20px] xcl-text-[#01C5E3] xcl-font-semibold xl:xcl-text-[28px]"
      style="color:{{ section.settings.section_title_color }}"
    >
      {{ section.settings.section_title }}
    </h3>
  {% endif %}
</div>
