.page-title {
  margin-top: 0;
}

.main-page-title {
  margin-bottom: 3rem;
}

@media screen and (min-width: 750px) {
  .main-page-title {
    margin-bottom: 4rem;
  }
}

.page-placeholder-wrapper {
  display: flex;
  justify-content: center;
}

.page-placeholder {
  width: 52.5rem;
  height: 52.5rem;
}



.default-pages-wrapper p {
  font-size: 14px;
  color: #4a4a4a;
  line-height: 26px;
  margin-bottom: 30px;
}

.default-pages-wrapper h1,
.default-pages-wrapper h2,
.default-pages-wrapper h3,
.default-pages-wrapper h4,
.default-pages-wrapper h5,
.default-pages-wrapper h6 {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 24px;
}

.default-pages-wrapper a {
  color: #4b1f00;
}

.default-pages-wrapper ul>li {
  list-style-type: disc;
  font-size: 14px;
  color: #4a4a4a;
}

@media screen and (min-width: 1024px) {

  .default-pages-wrapper p,
  .default-pages-wrapper ul>li {
    font-size: 16px;
    color: #4a4a4a;
    line-height: 30px;
  }

}