@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html { scroll-behavior: smooth; }

  body {
    -webkit-user-select: text;
    user-select: text;
    @apply mb-font-body;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply mb-font-heading;
  }
}
 